{% extends "base.html" %}

{% block content %}

<h1>Login Page</h1>

<div class="login-form">
    <form method="POST">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter masterkey" required>
        <input type="submit" value="Login">
    </form>
    <div>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <a href="/register">Don't have an account?</a>
</div>

{% endblock content %}